.para {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.contador {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  padding: 15px;
  background-color: blue;
}

.caja {
  max-width: 1200px;
  width: 90%;
  background-color: grey;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
}

.caja1 {
  background-color: red;
  color: yellow;
  margin: 1rem;
  padding: 1.5rem;
}

.caja2 {
  background-color: blue;
  color: yellow;
  margin: 1rem;
  padding: 1.5rem;
}

.caja3 {
  font-size: large;
  font-weight: 800;
  background-color: orange;
  color: blueviolet;
  margin: 1rem;
  padding: 1rem;
}

.caja4 {
  display: flex;
  background-color: gainsboro;
  color: blueviolet;
  margin: 0.25rem;
  padding: 0.15rem;
  border-radius: 15px;
  border-style: solid;
}

.cajaS1 {
  margin: 0.25rem;
  padding: 0.25rem;
  color: orange;
  float: left;
  border-radius: 10px;
}

.cursiva {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

#muestras img {
  width: 100px;
  margin: 10px 30px;
  cursor: pointer, hand;
}
#visor {
  text-align: center;
  float: right;
  margin: 0 20px;
}
#pantalla {
  width: 500px;
  padding: 30px;
  border: 5px double green;
  background-color: #f4f0c9;
}
